
body {
  background: url(../assets/images/route404.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}
